[submodule "openfisca/web-api"]
	path = openfisca/web-api
	url = https://github.com/sgmap/openfisca-web-api.git
[submodule "openfisca/core"]
	path = openfisca/core
	url = https://github.com/sgmap/openfisca-core.git
[submodule "openfisca/france"]
	path = openfisca/france
	url = https://github.com/sgmap/openfisca-france.git
[submodule "openfisca/parsers"]
	path = openfisca/parsers
	url = https://github.com/openfisca/openfisca-parsers.git
[submodule "openfisca/extensions/paris"]
	path = openfisca/extensions/paris
	url = https://github.com/sgmap/openfisca-paris.git
